@(tareas: List[Tarea], usuario: Usuario, mensaje: String)
@main("Tareas del usuario @usuario.getLogin()") {

    <h2> Listado de tareas de @usuario.getLogin()</h2>

    <table class="table table-striped">
        <tr>
            <th>Tareas</th>
            <th>Acción</th>
        </tr>
    @for(tarea <- tareas) {
        <tr>
            <td>@tarea.getTitulo()</td>
            <td><a href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())">
                <span class="glyphicon glyphicon-pencil"></span></td>
        </tr>
      }

      <tr>
          <td><a href="@routes.GestionTareasController.formularioNuevaTarea(usuario.getId())">
              <span class="glyphicon glyphicon-plus"/></a></td>
          <td></td>
      </tr>

  </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
